/* Container principal para centralizar o conteúdo */
.n-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa a altura total da janela */
    background-color: #fffff1;
    background: url('../../assets/imgs/Blue\ Minimalist\ Linktree\ Background.png') no-repeat center center fixed;
}

.card {
    background-color: rgb(255, 255, 255); /* Cor de fundo do card */
    padding: 20px;
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
    width: 500px; /* Largura fixa */
    text-align: center; /* Centraliza o conteúdo no card */
    height: auto; /* Ajusta a altura automaticamente */
}

.title {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.notification {
    text-align: left; /* Alinha o texto à esquerda */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.notification p {
    font-size: 16px; /* Tamanho da fonte para as notificações */
    color: #555; /* Cor do texto das notificações */
}

.btn-Voltar {
    background-color: #007bff; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    padding: 10px 20px;
    font-size: 16px;
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave para hover */
}

.btn-Voltar:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}
